<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="css/Normalize.css">
		<link rel="stylesheet" type="text/css" href="css/Base.css">
		<link rel="stylesheet" type="text/css" href="css/Layout.css">
		<link rel="stylesheet" type="text/css" href="css/Module.css">
		<link rel="stylesheet" type="text/css" href="css/Partial.css">
		<link rel="stylesheet" type="text/css" href="css/State.css">
		<link rel="stylesheet" type="text/css" href="css/Theme.css">
	</head>
	<body>
  	<div id="wrap">
			<div id="hd">
				<div class="inner">
					<!-- 页头模块 -->
					<div class="header text-center">I am header</div>
				</div>
			</div>
			<div id="by">
				<div class="inner text-center">
					<!-- nav模块 -->
					<nav class="nav">
						<!-- 导航meun -->
						<div id="meun">
							<ul class="meun text-center">
							  <li class="col-4 meun-item active"><a href="javascript:;">语文</a></li>
							  <li class="col-4 meun-item"><a href="javascript:;">数学</a></li>
							  <li class="col-4 meun-item"><a href="javascript:;">英语</a></li>
							  <li class="col-4 meun-item"><a href="javascript:;">理综</a>
							    <ul class="meun-item__sub hide">
							      <li class=" meun-item__sub-item"><a href="javascript:;">物理</a></li>
							      <li class=" meun-item__sub-item"><a href="javascript:;">化学</a></li>
							      <li class=" meun-item__sub-item"><a href="javascript:;">生物</a></li>
							    </ul>
							  </li>
							  <li class="col-4"><a href="javascript:;">文综</a>
							    <ul class="meun-item__sub hide">
							      <li class="meun-item__sub-item"><a href="javascript:;">历史</a></li>
							      <li class="meun-item__sub-item"><a href="javascript:;">地理</a></li>
							      <li class="meun-item__sub-item"><a href="javascript:;">政治</a></li>
							    </ul>
							  </li>
							</ul>
						</div>
					</nav>

					<div class="content">

						<!-- left模块 -->
						<div class="left">left</div>

						<!-- right -->
						<div class="right">right</div>

						<!-- main模块 -->
						<div class="main">main</div>

					</div>

				</div>
			</div>
			<div id="ft">
				<div class="inner">
					<!-- 页脚模块 -->
					<div class="footer text-center">I am footer</div>
				</div>
			</div>
		</div>  
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/template.js"></script>
		 <!-- <script type="text/javascript" src="js/index.js"></script> -->
	</body>
</html>
