<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>组件 | meun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/Normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/Base.css">
    <link rel="stylesheet" type="text/css" href="meun.css">
  </head>
  <body>
              
      <div id="main-meun">
        <ul class="meun text-center">
          <li class="col-8 meun-item active"><a href="javascript:;">语文</a></li>
          <li class="col-8 meun-item"><a href="javascript:;">数学</a></li>
          <li class="col-8 meun-item"><a href="javascript:;">英语</a></li>
          <li class="col-8 meun-item"><a href="javascript:;">理综</a>
            <ul class="meun-item__sub hide">
              <li class=" meun-item__sub-item"><a href="javascript:;">物理</a></li>
              <li class=" meun-item__sub-item"><a href="javascript:;">化学</a></li>
              <li class=" meun-item__sub-item"><a href="javascript:;">生物</a></li>
            </ul>
          </li>
          <li class="col-8"><a href="javascript:;">文综</a>
            <ul class="meun-item__sub hide">
              <li class="meun-item__sub-item"><a href="javascript:;">历史</a></li>
              <li class="meun-item__sub-item"><a href="javascript:;">地理</a></li>
              <li class="meun-item__sub-item"><a href="javascript:;">政治</a></li>
            </ul>
          </li>
        </ul>
      </div>
          
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="meun.js"></script>
  </body>
</html>
